---
import AchievementsList from '/src/components/AchievementsList';
import AlchemistryAchievementDescription from '/src/components/AlchemistryAchievementDescription';
import LanguagePicker from '/src/components/LanguagePicker/index.astro';

import Layout from '/src/layout/layout.astro';

import achievements from '/src/data/alchemistry/achievements.json';
import { APP_ID } from '/src/business/alchemistry_constants.js';
import getAchievementsPercentagesForGame from '/src/business/getAchievementsPercentagesForGame.js';

import { getLangFromUrl, useTranslatedPath, useTranslations } from '/src/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
const achievementsPercentages = await getAchievementsPercentagesForGame(APP_ID);

if(achievementsPercentages.length !== Object.keys(achievements).length) {
	throw new Error('There are some missing achievements to generate the wiki');
}

const achievementsToDisplay = achievementsPercentages.map((achievementData) => {
	const achievement = {
		name: achievementData.name,
		index: Object.keys(achievements).indexOf(achievementData.name),
		percent: achievementData.percent
	};
	achievement.description = AlchemistryAchievementDescription({ achievement, t, translatePath });

	return achievement;
});
---
<Layout title="Alchemistry - Achievements">
	<div class="achievements-page">
		<LanguagePicker />
		<AchievementsList t={t} achievements={achievementsToDisplay} />
	</div>
</Layout>
