.items-list {
	margin: 1rem;
}

.items-list .language-picker {
	text-align: right;
	padding-bottom: 1rem;
}
.items-list .language-picker a {
	width: auto !important;
}

.items-list a {
	display: inline-block;
	margin: 0.5rem;
	text-align: center;
}
.items-list a img {
	width: 90%;
}

@media (max-width: 500px) {
	.items-list a {
		width: calc(100% / 3 - 1rem);
	}
}

@media (min-width: 500px) {
	.items-list a {
		width: calc(100% / 5 - 1rem);
	}
}

@media (min-width: 800px) {
	.items-list a {
		width: calc(100% / 8 - 1rem);
	}
}

@media (min-width: 800px) {
	.items-list a {
		width: calc(100% / 8 - 1rem);
	}
}

@media (min-width: 1000px) {
	.items-list a {
		width: calc(100% / 10 - 1rem);
	}
}

@media (min-width: 1500px) {
	.items-list a {
		width: calc(100% / 15 - 1rem);
	}
}

@media (min-width: 2000px) {
	.items-list a {
		width: calc(100% / 20 - 1rem);
	}
}