.item-page {
	margin: 0 auto;
	min-height: calc(100vh - 10rem - 10rem);
	max-width: 800px;
	text-align: center;
	width: 100%;
}

.item-page .language-picker {
	text-align: right;
	padding-bottom: 1rem;
}

.item-page h1 {
	font-size: 1.75rem;
}
.item-page h2 {
	font-size: 1.25rem;
}

.item-page img {
	margin: 1rem;
	width: 300px;
	max-width: calc(80vw - 2rem);
}

.item-page hr {
	margin: 3rem 0;
}

/* Recipes */
.item-page-recipe {
	border-bottom: 1px solid #FFFFFF44;
	padding: 1rem;
}
.item-page-recipe:last-child {
	border: 0;
}

.item-page-recipe * {
	vertical-align: middle;
}

.item-page-recipe-element {
	display: inline-block;
	padding: 0 1rem;
	width: 75px;
}

.item-page .item-page-recipe-element img, .item-page-recipe-element img {
	margin: 0;
	width: 75px;
	display: block;
	margin-bottom: 1rem;
}