---
import './index.css';

import LanguagePicker from '/src/components/LanguagePicker/index.astro';
---
<footer>
	<LanguagePicker/>
	<div>Incorrect or incomplete translation ? Feel free to open a pull request on <a href="https://github.com/search?q=topic%3Ai18n+org%3ADysnomia-Studio&type=repositories"  target="_blank" rel="noopener noreferrer"> the relevant Github repository</a>.<br /><br /><br />
	<div>Alchemistry, Extortion, Galactae, Manufactur'inc - Made by Dysnomia - <a href="https://dysnomia.studio" target="_blank" rel="noopener noreferrer">https://dysnomia.studio</a> - <a href="https://github.com/Dysnomia-Studio/dysnomia-wiki" target="_blank" rel="noopener noreferrer">Github sources</a></div>
</footer>
