---
import './index.css';

import LanguagePicker from '/src/components/LanguagePicker/index.astro';
---
<footer>
	<LanguagePicker/>
	<div>Alchemistry, Extortion, Galactae, Manufactur'inc - Made by Dysnomia - <a href="https://dysnomia.studio" target="_blank" rel="noopener noreferrer">https://dysnomia.studio</a> - <a href="https://github.com/Dysnomia-Studio/dysnomia-wiki" target="_blank" rel="noopener noreferrer">Github sources</a></div>
</footer>
